# app/views/movies/index.html.erb

<table>
  <thead>
    <tr>
      <th><a href="?sort=title">Title</a></th>
      <th><a href="?sort=rating">Rating</a></th>
      <th><a href="?sort=release_date">Release Date</a></th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date.strftime('%d-%b-%Y') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<style>
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
  }
</style>
